<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= favicon_link_tag('/favicon.ico') %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body class="<%= yield :styling %>">
  <div id="render_timestamp"  class="hidden"><%= @render_timestamp  if defined?(@render_timestamp) %></div>
  <div id="next_refresh"      class="hidden"><%= @next_refresh      if defined?(@next_refresh) %></div>
  <div id="thought-wall-code" class="hidden"><%= @thought_wall.code if defined?(@thought_wall) %></div>
  <div id="safe-to-alter-layout" class="hidden">true</div>
  
  <%= render :partial => 'controls/control_bar' %>
  <div id="content">
    <%= yield %>
  </div>

  <div id="overlay">
    <div id="overlay-content">
    </div>
  </div>
  
  <%= javascript_include_tag "application" %>
</body>
</html>
