<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= favicon_link_tag('/favicon.ico') %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery_ujs" %>
  <%= javascript_include_tag "utilities" %>
  <%= javascript_include_tag "cortex_core" %>
  <%= javascript_include_tag "overlay" %>
  <%= javascript_include_tag "refresh_thought_wall" %>
  <%= javascript_include_tag "thoughts" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <div id="render_timestamp"  class="hidden"><%= @render_timestamp  if defined?(@render_timestamp) %></div>
  <div id="next_refresh"      class="hidden"><%= @next_refresh      if defined?(@next_refresh) %></div>
  <%= render :partial => 'navigation/nav_bar' %>
  <div id="content">
    <%= yield %>
  </div>

  <div id="overlay">
    <div id="overlay-close">
      close
    </div>
    <div id="overlay-content">
    </div>
  </div>
</body>
</html>
